.underLine{
    background: black;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
  
}
.tourCard {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.title{
  padding: 20px;
  justify-content: center;
}